{
  "REGION": "us",
  "GAME_PATH": "C:\\World of Warcraft",
  "SETUP_PATH": "C:\\wow_test",
  "BACKUP_PATH": "D:\\_backup\\wow_test",
  "RESTORE_PATH": "D:\\_backup\\wow_test",

  "DEFAULT_CONFIG": "D:\\_backup\\wow-setup-defaults\\Config.wtf",
  "DEFAULT_SV": "D:\\_backup\\wow-setup-defaults\\SavedVariables",
  "DEFAULT_ADDONS": "D:\\_backup\\wow-setup-defaults\\AddOns",

  "ADDON_NAMES": [
    "ActionBarProfiles",
    "WeakAuras",
    "MoveAnything",
    "ElvUI",
    "GatherMate2",
    "Routes"
  ],

  "ACCOUNTS": [
    {
      "email": "",
      "license_num": 1,
      "account_id": ""
    },
    {
      "email": "",
      "license_num": 2,
      "account_id": ""
    },
    {
      "email": "",
      "license_num": 3,
      "account_id": ""
    },
    {
      "email": "",
      "license_num": 4,
      "account_id": ""
    },
    {
      "email": "",
      "license_num": 5,
      "account_id": ""
    },
    {
      "email": "",
      "license_num": 1,
      "account_id": ""
    },
    {
      "email": "",
      "license_num": 2,
      "account_id": ""
    },
    {
      "email": "",
      "license_num": 3,
      "account_id": ""
    },
    {
      "email": "",
      "license_num": 4,
      "account_id": ""
    },
    {
      "email": "",
      "license_num": 5,
      "account_id": ""
    }
  ]
}
