{
  "SETUP_PATH": "C:\\_wow_test",
  "GAME_PATH": "C:\\_wow\\World of Warcraft",
  "ACCOUNTS": [
    {
      "email": "",
      "license_num": 1
    },
    {
      "email": "",
      "license_num": 2
    },
    {
      "email": "",
      "license_num": 3
    },
    {
      "email": "",
      "license_num": 4
    },
    {
      "email": "",
      "license_num": 5
    },
    {
      "email": "",
      "license_num": 1
    },
    {
      "email": "",
      "license_num": 2
    },
    {
      "email": "",
      "license_num": 3
    },
    {
      "email": "",
      "license_num": 4
    },
    {
      "email": "",
      "license_num": 5
    }
  ]
}
